.btn-wrap{
  text-align: center;
  margin-top: 3rem;
}
.button{
  padding: .7rem 3rem;
  color: #948747;
  font-size: 2rem;
  text-align: center;
  display: inline-block;
  border: 1px solid #948747;

}